# **Data Load**

In [ ]:
# System related and data input controls
import os
from glob import glob

# Data manipulation and visualization
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = 100
pd.options.display.max_columns = 20
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Data_kimm_op - 유선진동 정상시계열
# Label_kimm_op - 유선진동 정상시계열 라벨
# Data_kimm_no - 유선진동 고장시계열
# Label_kimm_no - 유선진동 고장시계열 라벨
label = ['0','1','2','3','4']  # '정상', 'bearing', 'belt', 'misalignment', 'unbalance']

In [3]:
current_folder = os.listdir('/daejeon_data/daejeon_data/current(전류)')
kimm_folder = os.listdir('/daejeon_data/daejeon_data/kimm(유선진동)')
vibration_folder = os.listdir('/Desktop/daejeon_data/daejeon_data/vibration(무선진동)')

In [1]:
# Data csv 파일 경로 
path_kimm = 'C:/Users/psb31/Desktop/daejeon_data/daejeon_data/kimm(유선진동)/'

path_kimm_oplist = list() # kimm 정상 시계열을 담을 리스트
path_kimm_nolist = list() # kimm 고장 시계열을 담을 리스트

for folder in kimm_folder:
    f1 = path_kimm + folder
    for i in range(1,7):
        f2 = f1 + '/' + str(i)
        f4 = f2 + '/' + '4.op-csv' + '/' +'*.csv'
        path_kimm_oplist = path_kimm_oplist + glob(f4) 
        
        f5 = f2 + '/' + '5.no-csv' + '/' +'*.csv'
        path_kimm_nolist = path_kimm_nolist + glob(f5)

In [5]:
# 정상시계열 데이터로드

Data_kimm_op = list()
for ts in path_kimm_oplist:
    temp = pd.read_csv(ts, header=0, names=['0','1'], skiprows=3) #, skiprows=3 << 왜 이거 하면 반올림 되는거지...
    Data_kimm_op.append(temp['0'])

Data_kimm_op = np.array(Data_kimm_op)

In [2]:
# 정상시계열 라벨
Label_kimm_op = np.zeros(192)
Label_kimm_op

In [3]:
# 고장시계열 데이터로드
Data_kimm_no = list()
for ts in path_kimm_nolist:
    temp = pd.read_csv(ts, header=0, names=['0','1'], skiprows=3) #, skiprows=3 << 왜 이거 하면 반올림 되는거지...
    Data_kimm_no.append(temp['0'])

Data_kimm_no = np.array(Data_kimm_no)
Data_kimm_no

In [20]:
# 고장시계열 라벨 
# 'bearing', 'belt', 'misalignment', 'unbalance'
kimm_no_label = list()
cnt_bea=0
cnt_bel=0
cnt_mis=0
cnt_unb=0
for name in path_kimm_nolist:
    name = str(name)
    name=name.split('/')
    if name[7][0:3]=='bea':
        kimm_no_label.append('1')
        cnt_bea=cnt_bea+1
        
    elif name[7][0:3]=='bel':
        kimm_no_label.append('2')
        cnt_bel=cnt_bel+1
        
    elif name[7][0:3]=='mis':
        kimm_no_label.append('3')
        cnt_mis=cnt_mis+1
        
    elif name[7][0:3]=='unb':
        kimm_no_label.append('4')
        cnt_unb=cnt_unb+1

kimm_no_label = np.array(kimm_no_label)
kimm_no_label

array(['1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2',
       '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2',
       '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2',
       '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2',
       '2', '2', '2', '2', '2', '3', '3', '3', '3', '3', '3', '3', '3',
       '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3',
       '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3',
       '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3',
       '3', '3', '3', '3', '3', '3', '3', '4', '4', '4', '4', '4', '4',
       '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4',
       '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4',
       '4', '4', '4', '4', '4', '4', '4', '4', '4', '4'], dtype='<U1')

In [14]:
kimm_op = pd.DataFrame(Data_kimm_op)
Label_kimm_op = Label_kimm_op.astype(np.int64)
label_kimm_op = pd.Series(Label_kimm_op, name = 'label')
kimm_op = kimm_op.join(label_kimm_op)
kimm_op

In [16]:
kimm_no = pd.DataFrame(Data_kimm_no)
kimm_no_label = kimm_no_label.astype(np.int64)
label_kimm_no = pd.Series(kimm_no_label, name = 'label')
kimm_no = kimm_no.join(label_kimm_no)
kimm_no

,0,1,2,3,4,5,6,7,8,9,...,11990,11991,11992,11993,11994,11995,11996,11997,11998,11999
0,-0.01,-0.01,0.01,-0.00,-0.01,-0.00,0.01,0.01,-0.01,-0.01,...,-0.02,0.02,0.01,-0.00,-0.00,0.02,0.01,-0.01,-0.01,-0.01
1,-0.01,0.01,-0.00,0.01,-0.01,-0.01,-0.00,-0.00,-0.02,-0.01,...,0.01,-0.01,-0.00,-0.00,0.02,-0.01,-0.01,-0.01,0.01,-0.01
2,0.01,0.01,-0.01,0.01,0.00,0.01,-0.01,-0.00,-0.01,0.03,...,0.01,-0.01,-0.01,0.00,-0.00,-0.01,-0.03,0.01,-0.01,0.00
3,0.00,-0.00,0.01,-0.01,-0.01,-0.01,0.00,-0.00,0.00,-0.00,...,-0.01,0.00,0.01,-0.02,-0.02,-0.01,0.01,-0.01,0.00,-0.01
4,-0.01,-0.00,-0.02,-0.00,0.01,0.02,0.01,0.01,0.03,0.01,...,0.01,-0.02,-0.01,0.01,0.01,-0.02,0.00,0.01,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,0.02,-0.00,-0.01,0.01,0.00,-0.02,-0.02,0.00,0.01,0.01,...,-0.00,0.00,0.01,0.01,0.00,0.01,0.01,0.01,0.01,0.01
188,-0.00,-0.01,-0.00,0.00,-0.00,-0.00,-0.01,-0.01,-0.01,-0.01,...,0.01,-0.00,-0.00,-0.01,-0.01,0.02,0.03,-0.00,-0.01,-0.01
189,-0.01,0.01,0.00,0.00,-0.01,-0.03,-0.02,0.01,0.04,0.00,...,-0.01,-0.00,0.01,0.00,-0.00,0.00,-0.01,0.00,0.00,0.00
190,0.00,-0.00,-0.00,-0.00,0.00,-0.00,-0.00,0.00,0.00,0.00,...,-0.02,-0.00,0.01,-0.01,0.01,-0.00,-0.00,0.00,-0.01,0.00
191,-0.00,0.01,0.00,-0.01,0.00,0.00,0.00,0.00,0.01,0.00,...,-0.01,0.00,-0.00,-0.01,0.01,0.01,-0.00,-0.01,0.00,0.01

In [18]:
df = pd.concat([kimm_op,kimm_no],  ignore_index = True)
df.to_csv('kimm.csv')
df

,0,1,2,3,4,5,6,7,8,9,...,11991,11992,11993,11994,11995,11996,11997,11998,11999,label
0,-1.08,-0.17,0.01,-0.17,0.00,0.08,0.08,0.06,-0.04,0.06,...,0.08,0.05,0.04,0.12,0.08,0.14,0.09,0.11,0.08,0
1,0.12,0.11,0.13,0.09,0.10,0.10,0.13,0.11,0.10,0.11,...,0.06,0.08,0.08,0.07,0.07,0.09,0.09,0.08,0.06,0
2,0.11,0.09,0.10,0.08,0.12,0.11,0.12,0.08,0.12,0.09,...,0.09,0.11,0.11,0.14,0.09,0.12,0.09,0.13,0.09,0
3,0.09,0.16,0.04,0.20,-0.70,-1.73,-0.83,-0.14,-0.12,-0.19,...,-0.18,-0.22,0.09,0.02,0.09,-0.06,-0.05,0.10,-0.00,0
4,0.09,0.06,0.11,0.11,0.10,0.07,0.10,0.11,0.11,0.10,...,0.10,0.10,0.08,0.12,0.11,0.10,0.07,0.10,0.09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,0.02,-0.00,-0.01,0.01,0.00,-0.02,-0.02,0.00,0.01,0.01,...,0.00,0.01,0.01,0.00,0.01,0.01,0.01,0.01,0.01,4
380,-0.00,-0.01,-0.00,0.00,-0.00,-0.00,-0.01,-0.01,-0.01,-0.01,...,-0.00,-0.00,-0.01,-0.01,0.02,0.03,-0.00,-0.01,-0.01,4
381,-0.01,0.01,0.00,0.00,-0.01,-0.03,-0.02,0.01,0.04,0.00,...,-0.00,0.01,0.00,-0.00,0.00,-0.01,0.00,0.00,0.00,4
382,0.00,-0.00,-0.00,-0.00,0.00,-0.00,-0.00,0.00,0.00,0.00,...,-0.00,0.01,-0.01,0.01,-0.00,-0.00,0.00,-0.01,0.00,4
383,-0.00,0.01,0.00,-0.01,0.00,0.00,0.00,0.00,0.01,0.00,...,0.00,-0.00,-0.01,0.01,0.01,-0.00,-0.01,0.00,0.01,4